<% include partials/header.ejs %>

<div class='container'>
    <p class='error'>The base or the rate you entered is invalid.</p>
    <div id='button'>
    <a href='/'><button class='back_button'>Go back to main page</button></a>
    </div>
</div>

<% include partials/footer.ejs %>